<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        
        <!-- Actividades principales -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Actividades de autenticación y perfil -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"
            android:label="Registro" />
            
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"
            android:label="Mi Perfil" />
            
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <!-- Actividades de comunicación -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="Foro de Discusión"
            android:theme="@style/Theme.MyApplication" />
            
        <activity
            android:name=".FAQActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <!-- Actividades de selección de edad -->
        <activity
            android:name=".AgeGroupSelectionActivity"
            android:exported="false"
            android:label="Selecciona un grupo de Edad"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".AgeGroupSelection2Activity"
            android:exported="false"
            android:label="Selecciona un grupo de Edad"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".SeleccionEdadActivity"
            android:exported="false"
            android:label="Selecciona Rango de Edad"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".SistemasYSintomasPorEdadActivity"
            android:exported="false"
            android:label="Sistemas y Síntomas por Edad"
            android:parentActivityName=".SeleccionEdadActivity" />
            
        <!-- Actividades de síntomas y diagnóstico -->
        <activity
            android:name=".SymptomsActivity"
            android:label="Signos y Síntomas"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".DiseaseResultsActivity"
            android:label="Enfermedades Posibles"
            android:parentActivityName=".SymptomsActivity" />
            
        <activity
            android:name=".FoundDiseasesActivity"
            android:label="Enfermedades encontradas"
            android:parentActivityName=".SymptomsActivity" />
            
        <activity
            android:name=".EtapaResultadosActivity"
            android:label="Resultados por Etapa"
            android:parentActivityName=".AgeGroupSelectionActivity" />
            
        <!-- Actividades de bioseguridad -->
        <activity
            android:name=".BioseguridadActivity"
            android:label="Bioseguridad"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".EvitarCausasEstresActivity"
            android:label="Evitar Causas de Estres"
            android:parentActivityName=".BioseguridadActivity" />
            
        <!-- Actividades de diagnóstico profesional -->
        <activity
            android:name=".DiagnosticoProfesionalActivity"
            android:label="Diagnóstico Profesional"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".DiagnosticoResultadosActivity"
            android:label="Resultados del Diagnóstico"
            android:parentActivityName=".DiagnosticoProfesionalActivity" />
            
        <activity
            android:name=".ChatEnVivoActivity"
            android:label="Chat en Vivo"
            android:parentActivityName=".DiagnosticoProfesionalActivity" />
            
        <!-- Actividades de foro -->
        <activity
            android:name=".ForoDiagnosticoActivity"
            android:exported="false" />
            
        <activity
            android:name=".ForumActivity"
            android:label="Foro de Diagnósticos"
            android:parentActivityName=".MainActivity" />
            
        <!-- Actividades de gestión porcina -->
        <activity
            android:name=".CuarentenaActivity"
            android:exported="false" />
            
        <activity
            android:name=".DesteteActivity"
            android:exported="false" />
            
        <activity
            android:name=".EngordaActivity"
            android:exported="false" />
            
        <activity
            android:name=".GestacionActivity"
            android:exported="false" />
            
        <activity
            android:name=".MaternidadActivity"
            android:exported="false" />
            
        <!-- Nuevas actividades implementadas -->
        <activity
            android:name=".DiseaseDetailActivity"
            android:label="Detalles de Enfermedad"
            android:parentActivityName=".FoundDiseasesActivity" />
            
        <activity
            android:name=".TreatmentActivity"
            android:label="Tratamiento"
            android:parentActivityName=".DiseaseDetailActivity" />
            
        <activity
            android:name=".VideosActivity"
            android:label="Videos Educativos"
            android:parentActivityName=".MainActivity" />
            
    </application>
</manifest>
